<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <div class="search-section">
                <h1>¿Qué quieres buscar?</h1>
                <p>Encuentra la información que desees consultar ...</p>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">

                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Todos los servicios
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#">Servicio 1</a></li>
                            <li><a class="dropdown-item" href="#">Servicio 2</a></li>
                        </ul>
                    </div>
                    <input type="text" class="form-control" placeholder="Buscar...">
                </div>
            </div>

            <div class="card-deck">
                <div class="row">
                    <div class="col-md-4">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Certificado</h5>
                          <p class="card-text">Conoce los beneficios que tenemos para ti al registrarte</p>
                          <a href="#" class="btn btn-primary">+ Beneficios</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Crear cuenta</h5>
                          <p class="card-text">Conoce los beneficios que tenemos para ti al registrarte</p>
                          <a href="#" class="btn btn-primary">Ver todo</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Top trámites</h5>
                          <p class="card-text">Conoce los trámites más solicitados.</p>
                          <a href="#" class="btn btn-primary">Ver todo</a>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="service-section">
                <h2>SERVICIOS QUIPUX</h2>
                <img src="assets/img/resource-1.png" alt="User" style="width: 150px; height: 150px;">
                <p>Trámites en tu mano: Ahora podrás hacer todos tus trámites desde la comodidad de tu casa, desde cualquier dispositivo, computadora, tablet o móvil.</p>
            </div>
        </div>
    </div>
</div>